// Solarized colors. Copied from https://ethanschoonover.com/solarized/.
// Solarized uses the MIT license: https://github.com/altercation/solarized/blob/master/LICENSE
// $base03:    #002b36;
// $base02:    #073642;
// $base01:    #586e75;
// $base00:    #657b83;
// $base0:     #839496;
// $base1:     #93a1a1;
// $base2:     #eee8d5;
// $base3:     #fdf6e3;
// $yellow:    #b58900;
// $orange:    #cb4b16;
// $red:       #dc322f;
// $magenta:   #d33682;
// $violet:    #6c71c4;
// $blue:      #268bd2;
// $cyan:      #2aa198;
// $green:     #859900;

// Gruvbox colors. Selectively copied from https://github.com/morhetz/gruvbox.
// Gruvbox uses the MIT/X11 license: https://en.wikipedia.org/wiki/MIT_License#X11_License
$bg: #fbf1c7;
$bg2: #bdae93;
$blue: #458588;
$blue2: #076678;
$fg: #3c3836;
$gray: #928374;
$green1: #b8bb26;
$green2: #79740e;
$orange: #d65d0e;
$purple1: #d3869b;
$purple2: #8f3f71;
$red1: #cc241d;
$red2: #9d0006;

$background: #fafafa;
$text-color: $fg;
$highlight: #abe7ae;
$highlight-border: #415c42;
$warning: #f87dc173;
$warning-border: $red2;

body {
    background-color: $background;
    color: $text-color;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    margin: 0px auto;
    max-width: 900px;
    padding: 0px 30px 15px 30px;
}

h1,h2,h3 {
    line-height: 1.2
}

h1 {
    color: $red1;
}

a {
    color: $orange;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    background-color: $bg;
    // background-color: $base2;
    border-radius: 5px;
    // text-decoration: underline;
}

#header {
    background-color: #fafafa;
    border-bottom: 1px solid;
    border-color: $fg;

    font-size: 18px;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    
    padding-top: 30px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: sticky;
    opacity: 100;
    top: 0;
    z-index: 999;

    a {
        // text-decoration: none;
        // color: $violet;
        color: $purple2;
        padding: 10px;
    }
}

#home a {
    color: $green2;
}

#header-links {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin-left: 1.5rem;
    }
}

.post-date {
    color: $gray;
    display: inline;
    font-family: monospace;
    font-weight: bold;
}

pre {
    // border: 1px solid $base03;
    border: 1px solid $fg;
    border-radius: 20px;
    font-size: 17px;
    max-width: 90ch;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
}

/* The line numbers already provide some kind of left/right padding */
// pre[data-linenos] {
//   padding: 1rem 0;
// }
pre table td {
  padding: 0;
}
/* The line number cells */
pre table td:nth-of-type(1) {
  padding-right: 15px;
  text-align: center;
  vertical-align: top;
  user-select: none;
}
pre mark {
  /* If you want your highlights to take the full width */
  display: block;
  /* The default background colour of a mark is bright yellow */
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

[role="highlight"] {
    background: $highlight;
    border: 1px solid $highlight-border;
    border-radius: 20px;
    padding: 15px;
}

[role="warning"] {
    background: $warning;
    border: 1px solid $warning-border;
    border-radius: 20px;
    padding: 15px;
}

.spoiler {
    background-color: $text-color;
    border-radius: 5px;
}
.spoiler:hover {
    background-color: $background;
}