{% extends "base.html" %}

{% block content %}
<h1 class="title">About</h1>
<p>Hello, welcome to my website. I'm Rohan Prinja, a <a href="https://www.linkedin.com/in/prinja/">software engineer</a> and <a href="https://ebird.org/profile/MTUwMDgxNA">birder</a>. My work interests include distributed systems, robotics (in particular path planning, motion planning and simulation), and computer graphics. To contact me, you can email "hello" at this domain.</p>
<p>You can browse my blog posts <a href="/blog">here</a>. I typically write about software and math. In my spare time I like going on nature walks and observing wildlife, reading books, and solving math and word puzzles.</p>
<p>What's <a href="https://en.wikipedia.org/wiki/Hanging_parrot">Loriculus</a>? It's a genus of small and colorful parrots that can sleep while upside down — the only birds that can do so.</p>
{% endblock content %}